In [ ]:
#Basic Line to Print Any Statement
print("Hello World!")

In [5]:
# Variables
# Here a is the variable and 26 is the value 
# A variable is an container to store data (:
# We can use variables for any operations
a = 26
b = "Avinash"
print(a)
print(b)

26
Avinash

In [6]:
# - This is an comment , we can use "#" to write a comment
# This will not get Executed in the otput

In [10]:
# Data Types - The are used for knowing what the data is like if it is number the result would be int

a = 26
print(type(a))

# They are few more data types , Decimal - Float
b = 15.6
print(type(b))

# Characters - String 

c = "Avinash"
print(type(c))

#True/False - Boolean

d = True
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [22]:
# Operators -  There are few Operators which we use for frequent use 

# Arithematic Operators - (+,-,*,./,%)

a = 3
b = 5

print(f"Addition of {a} & {b} is {a+b}")
print(f"Subraction of {a} & {b} is {a-b}")
print(f"Multiplication of {a} & {b} is {a*b}")
print(f"Division of {a} & {b} is {a/b}")

Addition of 3 & 5 is 8
Subraction of 3 & 5 is -2
Multiplication of 3 & 5 is 15
Division of 3 & 5 is 0.6

In [28]:
#Assignment Operators

a = 10
b = 20

print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)

False
True
False
True
False

In [29]:
#String Concadenation
print("Avi"+"Nash")

AviNash

In [38]:
#Lists allow duplicate values:

list = [1,"Avinash",2,"Sai",3,"Ashok",4,"Mahi","Avinash"]
print(list)

[1, 'Avinash', 2, 'Sai', 3, 'Ashok', 4, 'Mahi', 'Avinash']

In [34]:
tuple = (1,"Avinash",2,"Sai",3,"Ashok",4,"Mahi") 

print(tuple)

(1, 'Avinash', 2, 'Sai', 3, 'Ashok', 4, 'Mahi')

In [37]:
dict = {"Avinash":"4378","Sai":"4377","Ashok":"4379"}
print(dict)

{'Avinash': '4378', 'Sai': '4377', 'Ashok': '4379'}