In [1]:
# Tuples
t = ()

type(t)

tuple

In [2]:
l = [1,2,23]
type(l)

list

In [3]:
# We can Store any data in tuple same as list

tu = (26,0.25,"Avi",True)
tu

(26, 0.25, 'Avi', True)

In [4]:
# We can Store any data in tuple same as list

tu = (26,0.25,"Avi",True)
tu

(26, 0.25, 'Avi', True)

In [5]:
tu[2]

'Avi'

In [6]:
# Index not avaliable
tu[4]

IndexError: tuple index out of range

In [8]:
#Slicing

tu[0:4]

(26, 0.25, 'Avi', True)

In [9]:
len(tu)

4

In [10]:
#Reversing

tu[::-1]

(True, 'Avi', 0.25, 26)

In [11]:
#Reverse Indexing

tu[-1]

True

In [13]:
# List is Mutable
li = [26,0.25,"Avi",True]
li[1] = "Heyy!"
li

[26, 'Heyy!', 'Avi', True]

In [14]:
tu

(26, 0.25, 'Avi', True)

In [15]:
# Tuples are immutable Like Strings
tu[0] = "Kiet"

TypeError: 'tuple' object does not support item assignment

In [16]:
t1 = (2,10,26)

In [17]:
tu + t1

(26, 0.25, 'Avi', True, 2, 10, 26)

In [18]:
t1 *3

(2, 10, 26, 2, 10, 26, 2, 10, 26)

In [19]:
26 in t1

True

In [20]:
"Aviii" in t1

False

In [21]:
tu

(26, 0.25, 'Avi', True)

In [22]:
# str and int error

max(tu)

TypeError: '>' not supported between instances of 'str' and 'int'

In [23]:
t1

(2, 10, 26)

In [24]:
max(t1)

26

In [25]:
tn = ("Avinash", "Kiet" , "CAI")

max(tn)

'Kiet'

In [29]:
min(tn)

'Avinash'

In [26]:
min(t1)

2

In [27]:
# Tuple has only 2 Functions - index,count
tn.count("a")

0

In [28]:
tn.index("CAI")

2

In [37]:
# We Cant append for an tuple we can do by adding tuples but we cant add a single int

In [31]:
# we can do like this but what if need to add a single int
t3 = (90,45)

t1+t3

(2, 10, 26, 90, 45)

In [35]:
t4 = 26

t1+t4

TypeError: can only concatenate tuple (not "int") to tuple

In [38]:

l4 = list(t1)

l4

[2, 10, 26]

In [39]:
l4.append(26)
l4

[2, 10, 26, 26]

In [40]:
t5 = tuple(l4)

In [42]:
t5

(2, 10, 26, 26)

In [43]:
t = ((26.2,"Avi"),("python" , 12.5 ,23),("GCC","K-Hub","Robotics"),27,7,23 , ["Avinash","Sai",123 ,987])

In [44]:
t

((26.2, 'Avi'),
 ('python', 12.5, 23),
 ('GCC', 'K-Hub', 'Robotics'),
 27,
 7,
 23,
 ['Avinash', 'Sai', 123, 987])

In [45]:
# TO get the required ELement from the Nested tuple which is 123 from last list
t[6][2]

123

In [46]:
# If its a tuple i want first element of it

for i in t:
    if type(i) == tuple:
        print(i[0])

26.2
python
GCC

In [47]:
tu

(26, 0.25, 'Avi', True)

In [48]:
t1

(2, 10, 26)

In [49]:
if len(tu) == len(t1):
    print("Its Same!!")
else:
    print("Its Not Same")

Its Not Same

In [50]:
t = (26, 0.25, 'Avi', True,"Nash")

In [51]:
i = input("Enter Your Query:")

if i in t:
    print("Yes , Its Avaliable in the Tuple")
else:
    print("No , Its not in the Tuple")

Enter Your Query: Avi

Yes , Its Avaliable in the Tuple

In [52]:
t6 = (34,56)

In [53]:
t6

(34, 56)

In [54]:
del(t6)

In [55]:
t6

NameError: name 't6' is not defined